[submodule "GNPS_ML_Processing/GNPS2_DeploymentTooling"]
	path = GNPS_ML_Processing/GNPS2_DeploymentTooling
	url = https://github.com/Wang-Bioinformatics-Lab/GNPS2_DeploymentTooling.git
[submodule "GNPS_ML_Processing/bin/GNPS_PureNetworking_Workflow"]
	path = GNPS_ML_Processing/bin/GNPS_PureNetworking_Workflow
	url = https://github.com/mwang87/GNPS_PureNetworking_Workflow.git
