[submodule "GNPS_sharedcode"]
	path = GNPS_sharedcode
	url = https://github.com/mwang87/GNPS_sharedcode.git
[submodule "proteosafe/CCMSDeployments"]
	path = proteosafe/CCMSDeployments
	url = https://github.com/CCMS-UCSD/CCMSDeployments.git
[submodule "workflow/bin/blink"]
	path = workflow/bin/blink
	url = https://github.com/biorack/blink.git
[submodule "workflow/bin/simile"]
	path = workflow/bin/simile
	url = https://github.com/biorack/simile.git
[submodule "workflow/GNPS2_DeploymentTooling"]
	path = workflow/GNPS2_DeploymentTooling
	url = https://github.com/Wang-Bioinformatics-Lab/GNPS2_DeploymentTooling.git
